In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
import pickle

In [3]:
def selectkbest(indep_X,dep_Y,n):
        test = SelectKBest(score_func=chi2, k=n)
        # We need to use the function f_regression for regression model.As this Data contains only classification data 
        #we are proceeding with chisquare
        fit1= test.fit(indep_X,dep_Y)
        selectk_features = fit1.transform(indep_X)
        selectk_features = fit1.transform(indep_X)
        selected_indices = fit1.get_support(indices=True) 
        selected_features_names = indep_X.columns[selected_indices]
        return selectk_features,selected_features_names.to_list()

In [4]:
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test

In [5]:
#Evaluation Metrics for Regression Models
def R2_prediction(regressor,x_test):
    y_pred = regressor.predict(x_test)
    
    from sklearn.metrics import r2_score
    R2_score = r2_score(y_test,y_pred)
    return regressor,R2_score,x_test,y_test

In [6]:
data=pd.read_csv("prep.csv")
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [7]:
data=pd.get_dummies(data,drop_first=True)
data

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [8]:
data['classification_yes'].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [9]:
indep_X=data.drop('classification_yes',axis=1)
dep_Y=data['classification_yes']

In [50]:
kbest,selected_features=selectkbest(indep_X,dep_Y,5)

In [51]:
selected_features

['bgr', 'bu', 'sc', 'pcv', 'wc']

In [52]:
kbest

array([[1.48112676e+02, 5.74821053e+01, 3.07735602e+00, 3.88689024e+01,
        8.40819113e+03],
       [1.48112676e+02, 2.20000000e+01, 7.00000000e-01, 3.40000000e+01,
        1.23000000e+04],
       [9.90000000e+01, 2.30000000e+01, 6.00000000e-01, 3.40000000e+01,
        8.40819113e+03],
       ...,
       [1.10000000e+02, 1.15000000e+02, 6.00000000e+00, 2.60000000e+01,
        9.20000000e+03],
       [2.07000000e+02, 8.00000000e+01, 6.80000000e+00, 3.88689024e+01,
        8.40819113e+03],
       [1.00000000e+02, 4.90000000e+01, 1.00000000e+00, 5.30000000e+01,
        8.50000000e+03]])

In [53]:
def linear(x_train,y_train,x_test):
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    regressor.fit(x_train,y_train)
    R2_score = R2_prediction(regressor,x_test)
    return regressor,R2_score,x_test,y_test

def svm_linear(x_train,y_train,x_test):
    from sklearn.svm import SVC
    regressor = SVC(kernel='linear',random_state=0)
    regressor.fit(x_train,y_train)
    R2_score = R2_prediction(regressor,x_test)
    return regressor,R2_score,x_test,y_test

def svm_nonlinear(x_train,y_train,x_test):
    from sklearn.svm import SVC
    regressor = SVC(kernel = 'rbf', random_state=0)
    regressor.fit(x_train,y_train)
    R2_score = R2_prediction(regressor,x_test)
    return regressor,R2_score,x_test,y_test

def decision(x_train,y_train,x_test):
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(criterion = 'mse', random_state=0)
    regressor.fit(x_train,y_train)
    R2_score = R2_prediction(regressor,x_test)
    return regressor,R2_score,x_test,y_test

def random(x_train,y_train,x_test):
    from sklearn.ensemble import RandomForestRegressor
    regressor = RandomForestRegressor(n_estimators = 10, criterion = 'mse', max_features = 'sqrt', random_state=0)
    regressor.fit(x_train,y_train)
    R2_score = R2_prediction(regressor,x_test)
    return regressor,R2_score,x_test,y_test

In [54]:
def selectk_regression(r2lin,r2svml,r2svmnl,r2dc,r2rf):
    dataframe = pd.DataFrame(index=['ChiSquare'], columns = ['Linear','SVM_L','SVM_NL','Decision','Random'])
    for number,index in enumerate(dataframe.index):
        dataframe['Linear'][index] = r2lin[number]
        dataframe['SVM_L'][index] = r2svml[number] 
        dataframe['SVM_NL'][index] = r2svmnl[number] 
        dataframe['Decision'][index] = r2dc[number] 
        dataframe['Random'][index] = r2rf[number] 
    return dataframe

In [55]:
r2lin = []
r2svml = []
r2svmnl = []
r2dc = []
r2rf = []

In [56]:
x_train,x_test,y_train,y_test = split_scalar(kbest,dep_Y)

In [57]:
regressor,R2_score,x_test,y_test = linear(x_train,y_train,x_test)
r2lin.append(R2_score[1])

regressor,R2_score,x_test,y_test = svm_linear(x_train,y_train,x_test)
r2svml.append(R2_score[1])

regressor,R2_score,x_test,y_test= svm_nonlinear(x_train,y_train,x_test)
r2svmnl.append(R2_score[1])

regressor,R2_score,x_test,y_test = decision(x_train,y_train,x_test)
r2dc.append(R2_score[1])

regressor,R2_score,x_test,y_test = random(x_train,y_train,x_test)
r2rf.append(R2_score[1])

result = selectk_regression(r2lin,r2svml,r2svmnl,r2dc,r2rf)

C:\Users\MOHANLAL\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\MOHANLAL\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [30]:
result
#8

             Linear     SVM_L    SVM_NL  Decision    Random
ChiSquare  0.646457  0.869792  0.869792  0.869792  0.855035

In [39]:
result
#7

             Linear     SVM_L    SVM_NL  Decision    Random
ChiSquare  0.657035  0.869792  0.869792  0.826389  0.919271

In [49]:
result
#6

             Linear     SVM_L    SVM_NL  Decision    Random
ChiSquare  0.599041  0.826389  0.826389  0.869792  0.933594

In [58]:
result
#5

             Linear     SVM_L    SVM_NL  Decision    Random
ChiSquare  0.551985  0.739583  0.782986  0.696181  0.811198

#  The best model can be created with 6 features and the best model is Random forest